.btn {
  max-width: 100%;
  border-radius: 0;
  border: 2px solid;
  transition: .3s ease-out;
  font-family: $fontBold;
  &--small {
    padding: 6px 32px;
  }
  &--large {
    padding: 9px 29px;
  }
  &--gold {
    color: $colorGold;
    background-color: transparent;
    border-color: $colorGold;
    &:hover {
      color: $colorWhite;
      background: $colorGold;
      transform: translateY(-3px);
    }
    &:focus {
      transform: translateY(3px);
      border-color: $colorGold;
      box-shadow: none;
    }
  }
  &--gold-fool {
    color: $colorWhite;
    background-color: $colorGold;
    border-color: $colorGold;
    &:hover {
      color: $colorWhite;
      background: $colorGoldDark;
      border-color: $colorGoldDark;
      transform: translateY(-3px);
    }
    &:focus {
      transform: translateY(3px);
      background: $colorGoldDark;
      border-color: $colorGoldDark;
      box-shadow: none;
    }
  }
  &--gold-white {
    color: $colorWhite;
    background-color: transparent;
    border-color: $colorGold;
    &:hover {
      color: $colorWhite;
      background: $colorGold;
      transform: translateY(-2px);
    }
    &:focus {
      transform: translateY(0);
      border-color: $colorGold;
      box-shadow: none;
    }
  }
}
