@import "bootstrap";
@import "fonts";
@import "fontaweasome";
@import "variables";
@import "animate";
@import "swiper";
@import "button";
@import "slider";
@import "legal-aid";
@import "about-main";
@import "retreat";
@import "achievements";
@import "faq";
@import "free-consultation";
@import "testimonials";
@import "form";
@import "select";


body {
  font-family: $fontRegular;
  font-size: 18px;
  color: $colorBlack;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page {
  overflow: hidden;
}
a:hover, a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wow-outer {
  position: relative;
  overflow: hidden;
}
@import "rd-navbar";
@import "to-top";

@import "mediaqueries";