.retreat {
  padding: 0 0 60px 0;
  text-align: center;
  &__heading {
    text-align: center;
    font-family: $fontBold;
    margin-bottom: 20px;
    font-size: 36px;
    color: $colorBlack;
  }
  &__show {
    display: none;
  }
  &__btn {
    margin-top: 20px;
  }
}

@media only screen and (max-width : 768px) {
  .retreat {
    &__heading {
      font-size: 32px;
    }
  }
}